/* Styling for the Search component */
.Search {
  background-color: blue;
  color: white;
}

/* Styling for the loaded options in AsyncPaginate */
.AsyncPaginate__menu {
  background-color: black;
  color: black; /* Adjust the text color as needed */
}

